# yaml-language-server: $schema=https://raw.githubusercontent.com/defenseunicorns/uds-cli/main/uds.schema.json

kind: UDSBundle
metadata:
  name: uds-core-idam
  description: uds core idam
  version: 0.0.1

zarf-packages:
  # PostgreSQL
  - name: keycloak-postgres
    path: ../build
    ref: 0.0.1
    exports:
      - name: KEYCLOAK_DB_PASSWORD

  # Extra Jar
  - name: deploy-time-jar-wrapper
    path: ../build
    ref: 0.0.1

  # UDS IdAM
  - name: uds-idam
    path: ../build
    ref: ${IDAM_VERSION}
    imports:
      - name: KEYCLOAK_DB_PASSWORD
        package: keycloak-postgres