# yaml-language-server: $schema=https://raw.githubusercontent.com/defenseunicorns/uds-cli/main/uds.schema.json

kind: UDSBundle
metadata:
  name: uds-core-dubbd
  description: uds core dubbd
  version: 0.0.1

zarf-packages:
  # Zarf init
  - name: init
    repository: ghcr.io/defenseunicorns/packages/init
    ref: ${ZARF_VERSION}
    optional-components:
      - git-server

  # Metallb
  - name: metallb
    repository: ghcr.io/defenseunicorns/packages/metallb
    ref: ${METALLB_VERSION}

  # Defense Unicorns Big Bang Distro
  - name: dubbd-k3d
    repository: ghcr.io/defenseunicorns/packages/dubbd-k3d
    ref: ${DUBBD_VERSION}

